{% extends "base.html" %}
{% block content %}
<h2>Edit City</h2>
<form method="POST" action="{{ url_for('update_record', id=record['_id']) }}">
    <label for="name">City Name</label>
    <input type="text" name="name" id="name" value="{{ record.get('name','') }}" required>
    <label for="country">Country</label>
    <input type="text" name="country" id="country" value="{{ record.get('country','') }}" required>
    <label for="population">Population</label>
    <input type="number" name="population" id="population" value="{{ record.get('population','') }}" min="0">
    <br><br>
    <input class="button" type="submit" value="Save Changes">
</form>
{% endblock %}
