{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <h2>Create an Account</h2>
    <form method="post">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Username</label>
          <input class="form-control" name="username" required>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Customer ID</label>
          <input class="form-control" name="customer_id" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Gender</label>
          <select class="form-select" name="gender" required>
            <option value="" selected disabled>Choose...</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Age</label>
          <input class="form-control" name="age" type="number" min="1" required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Password</label>
          <input class="form-control" type="password" name="password" required>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">Confirm Password</label>
          <input class="form-control" type="password" name="confirm" required>
        </div>
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
{% endblock %}