<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping App</title>
</head>
<body>
    <h1>Welcome to the Shopping App</h1>
    <ul>
        <li><a href="/register">User Registration</a></li>
        <li><a href="/upload">Upload CSV</a></li>
        <li><a href="/view_users">View Registered Users</a></li>
        <li><a href="/view">View Shopping Data</a></li>
        <li><a href="/user_shopping">View Shopping Information by Customer ID</a></li>
    </ul>
</body>
</html>